<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  lang="pt-br">
	<head th:replace="~{baseKartodromo :: head}"></head>
		<div class="container">
			<header th:replace="~{baseKartodromo :: header}"></header>
		</div>
	<body>
		<div class="container p-3">
			<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${sucessmessage}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong th:text="${sucessmessage}"></strong>
			</div>
			<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errormessage}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong th:text="${errormessage}"></strong>
			</div>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			<div class="d-flex justify-content-between mb-3">
				<form class="row g-3" method="POST" th:action="@{/import/csv}" th:object="${bateria}" enctype="multipart/form-data">
					<div class="row p-2">
						<h5>Importe o seu arquivo para realizar o cadastro da(s) bateria(s):</h5>
						<p>&nbsp</p>
						<input type="file" class="form-control" id="customFile" th:field="*{file}"/>
		  				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				 		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				    			<button type="submit" class="btn btn-outline-dark btn-lg">Enviar</button>
				    		</a>
						</div>
					</div>						
				</form>
			</div>
		</div>
	</body>
<style>	
footer {
   position: absolute;
  bottom: 0;
  width: 85%;
  height: 50px;
  
}
</style>	
	<div class="container">
	<footer th:replace="~{baseKartodromo :: footer}" class="py-5"></footer>
</div>
</html>