<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{baseKartodromo :: head}"></head>
<div class="container">
	<header th:replace="~{baseKartodromo :: header}"></header>
</div>
<body>
	<div class="container p-3">
		<h3>Baterias cadastradas até o momento</h3>
		<a th:href="@{listaBaterias/exports/csv}"> <i class="fa-solid fa-file-csv btn-lg btn-dark"></i></a>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<table id="example" class="table table-striped text-center">
			<thead>
			<tr>
				<th>ID Bateria</th>
				<th>Data</th>
				<th>Hora</th>
				<th>Valor (R$)</th>
				<th>Vagas Preenchidas</th>
				<th>Total (R$)</th>
				<th>Detalhar</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="bateria : ${baterias}">
					<td th:text="${bateria.id}"></td>
					<td th:text="${#temporals.format(bateria.data, 'dd/MM/yyyy')}"></td>
					<td th:text="${bateria.horaBateria}"></td>
					<td th:text="${#numbers.formatDecimal(bateria.valorBateria,2,'POINT', 2, 'COMMA')}"></td>
					<td th:text="${bateria.vagasConfirmadas}"></td>
					<td th:text="${#numbers.formatDecimal(bateria.vagasConfirmadas * bateria.valorBateria,2,'POINT', 2, 'COMMA')}"></td>
					<td> <a th:href="@{/kartodromo/visualizarBateria/{id}(id = ${bateria.id})}"><button type="button" class="btn-outline-dark">Ver</button></a></td>


				</tr>
			</tbody>
		</table>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
		<script>
			$(document).ready(function () {
   		    $('#example').DataTable({
    			language: {
    				url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json',
            		decimal: ',',
            		thousands: '.',
        		},
    		});
			});
		</script>
	</div>
</body>
<style>
footer {
   position: absolute;
  bottom: 0;
  width: 70%;
  height: 50px;
}
</style>
<div class="container">
	<footer th:replace="~{baseKartodromo :: footer}" class="py-5"></footer>
</div>
</html>