<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{baseKartodromo :: head}"></head>
<div class="container">
	<header th:replace="~{baseKartodromo :: header}"></header>
</div>
<body>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col" th:each="bateria : ${baterias}">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">
							<span th:text="${bateria.kartodromo.nome}"></span>
						</h5>
						<div class="card-text">
							<div>
								ID Bateria: <span th:text="${bateria.id}">Externo A</span>
							</div>
							<div>
								Valor: <span th:text="${'R$' + #numbers.formatDecimal(bateria.valorBateria,2,'POINT', 2, 'COMMA')}">200,99</span>
							</div>
							<div>
								Traçado: <span th:text="${bateria.tracado}">Externo A</span>
							</div>
							<div>
								Data: <span th:text="${#temporals.format(bateria.data, 'dd/MM/yyyy')}">16:00</span>
							</div>
							<div>
								Horário: <span th:text="${bateria.horaBateria}">16:00</span>
							</div>
							<div>
								Duracao: <span th:text="${bateria.duracaoBateria + ' minutos'}">16:00</span>
							</div>
							<div>
								Pilotos confirmados: <span th:text="${bateria.vagasConfirmadas}">10</span>
							</div>
							<div>
								Limite de pilotos: <span th:text="${bateria.nrMaxPiloto}">10</span>
							</div>
							<div class=" text-end">
								<a th:href="@{/kartodromo/visualizarBateria/{id}(id = ${bateria.id})}">
									<button type="button" class="btn btn-outline-dark">Detalhar</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<style>	
footer {
   position: absolute;
  bottom: 0;
  width: 85%;
  height: 50px;
  
}
</style>
<div class="container">
	<footer th:replace="~{baseKartodromo :: footer}" class="py-5"></footer>
</div>
</html>