<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{baseKartodromo :: head}"></head>
<div class="container">
	<header th:replace="~{baseKartodromo :: header}"></header>
</div>
<body>
	<div class="container p-5">
			<div class="d-flex justify-content-between mb-3">
				<form class="row g-3" method="POST" th:action="@{/kartodromo/meusDados}" th:object="${kartodromo}">
					<div class="row p-2">
						<div class="col">
		    				<label for="nome" class="form-label">Nome</label>
		    				<input type="text"  class="form-control" th:field="${kartodromo.nome}" disabled readonly>
		    				<span ></span> 
		  				</div>
		  				<div class="col">
		    				<label for="email" class="form-label">E-mail</label>
		    				<input type="email" class="form-control" th:errorclass="is-invalid" id="email" th:field="*{email}">
		    				<span th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></span>
		  				</div>
		  				<div class="row p-2">
		  				<div class="col">
				    		<label for="CNPJ" class="form-label">CNPJ</label>
				    		<input type="text" class="form-control" id="CNPJ" th:field="*{CNPJ}"disabled readonly>
				    		<small class="text-muted">E.x "99.999.999/9999-99"</small>
						</div>
						<div class="col">
				    		<label for="inputCity" class="form-label">Cidade</label>
				    		<input type="text" class="form-control" id="cidade" th:field="*{cidade}" disabled readonly>
						</div>
		  				<div class="col">
				    		<label for="inputCity" class="form-label">Estado</label>
				    		<input type="text" class="form-control" id="cidade" th:field="*{estado}" disabled readonly>
						</div>
				 		</div>
		  			</div>
		  			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				 	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				 	<a th:href="@{/kartodromo/menuKartodromo}">
				    	<button type="submit" class="btn btn-outline-dark btn-lg">Atualizar Email</button>
				    	</a>
					</div>  						
				</form>
			</div>
		</div>
</body>
<style>	
footer {
   position: absolute;
  bottom: 0;
  width: 85%;
  height: 50px;
  
}
</style>
<div class="container">
	<footer th:replace="~{baseKartodromo :: footer}" class="py-5"></footer>
</div>
</html>