<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{baseKartodromo :: head}"></head>
<div class="container">
	<header th:replace="~{baseKartodromo :: header}"></header>
</div>
<body>
	<div class="container p-5">
		<h3>Aqui é possível verificar todos os pilotos que já correram no kartódromo</h3>
	</div>
	<div class="container p-1">
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">E-mail</th>
					<th scope="col">Cidade</th>
					<th scope="col">Última reserva</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reserva : ${reservas}">
					<td th:text="${reserva.piloto.nome}"></td>
					<td th:text="${reserva.piloto.email}"></td>
					<td th:text="${reserva.piloto.cidade}"></td>
					<td th:text="${#temporals.format(reserva.dataReserva, 'dd/MM/yyyy')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<div class="container">
	<footer th:replace="~{baseKartodromo :: footer}" class="py-5"></footer>
</div>
</html>