<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{baseAdmin :: head}"></head>
<div class="container">
	<header th:replace="~{baseAdmin :: header}"></header>
</div>
<body>
	<div class="container">
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">GoKart Experience</h1>
					<p class="lead text-muted">Seja bem-vindo(a) para a família GoKart. Aqui é o espaço para acelerar e inovar conosco.</p>
				</div>
			</div>
		</section>
	</div>
</body>
<style>
footer {
   position: absolute;
  bottom: 0;
  width: 70%;
  height: 50px;

}
</style>
<div class="container">
	<footer th:replace="~{baseAdmin :: footer}" class="py-5"></footer>
</div>
</html>