<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{baseAdmin :: head}"></head>
<div class="container">
    <header th:replace="~{baseAdmin :: header}"></header>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <script type="text/javascript" th:src="@{/js/tabela.js}" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</div>
<body>
<div class="container p-1">
    <h3>Kartódromos que estão aguardando sua aprovação</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</div>
<div class="container">
    <table id="example" class="table table-striped text-center">
        <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>CNPJ</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Situação</th>
            <th>Aprovar</th>
            <th>Rejeitar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="kartodromo : ${kartodromo}">
            <td th:text="${kartodromo.nome}"></td>
            <td th:text="${kartodromo.email}"></td>
            <td th:text="${kartodromo.CNPJ}"></td>
            <td th:text="${kartodromo.estado}"></td>
            <td th:text="${kartodromo.cidade}"></td>
            <td th:text="${kartodromo.statusUsuario}"></td>
            <td> <a th:href="@{/admin/pendencias/aprovar/{id}(id=${kartodromo.id})}"><button type = submit class="btn btn-outline-dark"><i class="fa-regular fa-circle-check"></i></button></a></td>
            <td> <a th:href="@{/admin/pendencias/reprovar/{id}(id=${kartodromo.id})}"><button type = submit class="btn btn-outline-dark"><i class="fa-solid fa-xmark"></i></button></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<div class="container">
    <footer th:replace="~{baseAdmin :: footer}" class="py-5"></footer>
</div>
</html>

