<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{baseAdmin :: head}"></head>
<div class="container">
	<header th:replace="~{baseAdmin :: header}"></header>
</div>
<body>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col" th:each="kartodromo : ${kartodromos}">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">
							<span th:text="${kartodromo.nome}"></span>
						</h5>
						<div class="card-text">
							<div>
								E-mail <span th:text="${kartodromo.email}"></span>
							</div>
							<div>
								Cidade: <span th:text="${kartodromo.cidade}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<div class="container">
	<footer th:replace="~{baseAdmin :: footer}" class="py-5"></footer>
</div>
</html>