<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base ::head}"></head>
<body>
	<div th:replace="~{base :: logo}"></div>
	<div class="container">
		<div th:replace="~{base :: titulo('Novo Pedido')}"></div>
		<div class="card mt-3">
			<form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
				<div class="form-label">
					<label for="nomeProduto">Produto</label>
					<input th:field="*{nomeProduto}" class="form-control" placeholder="nome do produto" /> 
					<small>Informe qual o nome do produto</small>
				</div>
				<div class="form-label">
					<label for="urlProduto">URL</label> 
					<input th:field="*{urlProduto}"class="form-control" placeholder="url do produto" /> 
					<small>Procure o produto que você deseja</small>
				</div>
				<div class="form-label">
					<label for="urlImagem">URL</label> 
					<input th:field="*{urlImagem}" class="form-control" placeholder="url do imagem" /> 
					<small>Copieo link da foto do produto</small>
				</div>
				<div class="form-label">
					<label for="descricao">Descricao</label>
					<textarea class="form-control" th:field="*{descricao}" placeholder="Descricao"></textarea>
				</div>
				<button class="btn btn-primary" type="submit">Cadastrar</button>	
			</form>
		</div>
	</div>
</body>
</html>