<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  lang="pt-br">
	<head th:replace="~{basePiloto :: head}">
		<div class="container">
			<header th:replace="~{basePiloto :: header}"></header>
		</div>
	</head>
	<body>
		<div class="container p-5">
			<div class="d-flex justify-content-between mb-3">
				<form class="row g-3" method="POST" th:action="@{/piloto/atualizarPiloto}" th:object="${piloto}" th:each="piloto : ${piloto}">
					<div>
						<div class="col">
		    				<div >
		    				<h2>Olá Racer <span th:text="${piloto.nome}"> </span> :) </h2> 
		    				<p>&nbsp;</p>
		    				<h3>Você pode mudar o seu nível de acordo com as suas corridas. Hoje seu nível atual é: 
		    				<i><span th:text="${piloto.nivel}"> </span> </i>.</h3> 
		    				</div>
		    				<p>&nbsp;</p>
							<h3>Atualize logo abaixo:</h3>
							<p>&nbsp;</p>
							
							<div class="col-md-3">				    	
					    	<select class="form-select" name ="nivel">
					      	<option selected>Escolha...</option>
					      	<option th:each= "nivel : ${T(com.goKart.goKart.model.Nivel).values()}"  
							  	    th:value="${nivel}"
							   	   th:text="${nivel}"></option>
					    	</select>
					    	<p>&nbsp;</p>
					    	<a th:href="@{/piloto/atualizarPiloto}">
				    			<button type="submit" class="btn btn-outline-dark btn-lg">Enviar</button>
				    		</a>
						 </div>
		  				</div>
				 	</div>				
				</form>
			</div>
			
		</div>
	</body>
	<style>
footer {
   position: absolute;
  bottom: 0;
  width: 85%;
  height: 50px;
  
}
</style>
	<div class="container">
  		<footer th:replace="~{basePiloto :: footer}" class="py-5"></footer>
	</div>
</html>