<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{basePiloto :: head}">
  <div class="container">
    <header th:replace="~{basePiloto :: header}"></header>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
  </div>
</head>
<body>
<div class="container" >
  <div class="row">
    <p>&nbsp;</p>
    <h3 class="text-center">
      <i>Veja os detalhes da sua reserva</i>
    </h3>
    <form class="row g-3" method="POST" th:action="@{/piloto/cancelarReserva/apagar/{id}(id = ${reserva.id})}" th:object="${reserva}">
      <div class="col-6">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <img th:src="@{/images/bandeiraQuadriculada.png}" class="img-fluid">
          </div>
          <div class="col-md-2"></div>
        </div>
      <div class="segundo col-6">
        <div>
          <font size=5>Kartodromo: <span
                  th:text="${reserva.kartodromo.nome}"></span></font>
        </div>
        <div>
          <font size=5> Traçado: <span th:text="${reserva.bateria.tracado}"></span></font>
        </div>
        <div>
          <font size=5> Data: <span th:text="${#temporals.format(reserva.bateria.data, 'dd/MM/yyyy')}"></span></font>
        </div>
        <div>
          <font size=5> Horário: <span th:text="${reserva.bateria.horaBateria}"></span></font>
        </div>
        <div>
          <font size=5> Duração: <span th:text="${reserva.bateria.duracaoBateria + ' minutos'}"></span></font>
        </div>
        <div>
          <font size=8> R$: <span th:text="${#numbers.formatDecimal(reserva.bateria.valorBateria,2,'POINT', 2, 'COMMA')}"></span></font>
        </div>
        <div>
          <font size=3>*O cancelamento pode ser realizado 24 horas antes do horário da bateria, será estornador 90% do valor.</font>
          <br>
        </div>
        <br>
      </div>
    </form>
    <div class="col-6"></div>

    <div class="segundo col-6">
      <a th:href="@{/piloto/cancelarReserva/apagar/{id}(id = ${reserva.id})}">
        <button type="submit" class="btn btn-outline-dark btn-lg">Cancelar</button>
      </a>
    </div>
  </div>
</div>
</body>
<div class="container">
  <footer th:replace="~{basePiloto :: footer}" class="py-5"></footer>
</div>
</html>