<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head th:replace="~{basePiloto :: head}">
		<div class="container">
			<header th:replace="~{basePiloto :: header}"></header>
		</div>
	</head>
<body>
	
  	<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Kartódromos licenciados</h2>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p><font size="4">Todos os kartódromos são verificados pela empresa GoKart antes de serem cadastrados no site. Atualmente estamos trabalhando com
    os kartódromos da região de Curitiba e região metropolitana.</font></p>
    <font size = 4>A seguir segue a lista dos kartódromos cadastrados até o momento para você curtir com sua familia e amigos.</font>
  </div>
  <div class="container px-4 py-2" id="featured-3">
  <h3 class="pb-2 border-bottom text-center">TCC Kart Indoor</h3>
  <br>
  <p><font size="4">Localização </font></p>
  <p><font size="3">Av das Araucárias, 3803</font></p>
  <p><font size="3">Módulo 01 - Galpão B</font></p>
  <p><font size="3">CEP 83707-067 - Thomaz Coelho</font></p>
  <p><font size="3">Araucária - PR</font></p>
  </div>
</body>
<div class="container">
  <footer th:replace="~{basePiloto :: footer}" class="py-5"></footer>
</div>
</html>