<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head th:replace="~{basePiloto :: head}">
		<div class="container">
			<header th:replace="~{basePiloto :: header}"></header>
		</div>
	</head>
<body>

  	<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Kartódromos licenciados</h2>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p><font size="4">Todos os kartódromos são verificados pela empresa GoKart antes de serem cadastrados no site. Atualmente estamos trabalhando com
    os kartódromos da região de Curitiba e região metropolitana.</font></p>
    <font size = 4>A seguir segue a lista dos kartódromos cadastrados até o momento para você curtir com sua familia e amigos.</font>
  </div>
  <div class="container px-4 py-2">
      <tr th:each="kartodromo : ${kartodromo}" >
          <h3 class="pb-2 border-bottom text-center"th:text="${kartodromo.nome}"></h3>
          <br>
          <p><i><font size="4">Localização </font></i></p>
          <p>Endereço: <font size="3" th:text="${kartodromo.logradouro}"></font></p>
          <p>Complemento: <font size="3" th:text="${kartodromo.complemento}"></font></p>
          <p>CEP: <font size="3" th:text="${kartodromo.CEP}"></font></p>
          <p>Cidade: <font size="3" th:text="${kartodromo.cidade + ' - ' + kartodromo.estado}"></font></p>
          <p>Contato: <font size="3" th:text="${kartodromo.email}"></font></p>
          <br>
      </tr>
  </div>
</body>
<div class="container">
  <footer th:replace="~{basePiloto :: footer}" class="py-5"></footer>
</div>
</html>