<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{basePiloto :: head}"></head>
<div class="container">
	<header th:replace="~{basePiloto :: header}"></header>
</div>
<style>
#teste {
   display:"flex";
   align-items: "center";
   flex-direction:"column";
   justify-content: "center";  
}
</style>
<body>
	<div class="container">
  	
   	<div class="row">
      <div class="col-sm-5 mb-3 mx-auto">
      	<div class="d-flex " >
         <input type="text" id="filtroCards" class="form-control p-2 bd-highlight" onkeyup="aplicaFiltroCards()" placeholder="Pesquise pelo nome do kartódromo...">
         <i class="fa-solid fa-magnifying-glass p-3 bd-highlight"></i>
    	</div>
    </div>
    </div>
	
		<div class="row row-cols-1 row-cols-md-3 g-4" id="containerCards">
			
			<div class="col" th:each="bateria : ${baterias}">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">
							<span th:text="${bateria.kartodromo.nome}"></span>
						</h5>
						<div class="card-text">
							<div>
								Valor: <span th:text="${'R$' + #numbers.formatDecimal(bateria.valorBateria,2,'POINT', 2, 'COMMA')}">200,99</span>
							</div>
							<div>
								Traçado: <span th:text="${bateria.tracado}">Externo A</span>
							</div>
							<div>
								Data: <span th:text="${#temporals.format(bateria.data, 'dd/MM/yyyy')}">16:00</span>
							</div>
							<div>
								Horário: <span th:text="${bateria.horaBateria}">16:00</span>
							</div>
							<div>
								Duração: <span th:text="${bateria.duracaoBateria + ' minutos'}">10</span>
							</div>
							<div>
								Pilotos confirmados: <span th:text="${bateria.vagasConfirmadas}">10</span>
							</div>
							<div>
								Limite de pilotos: <span th:text="${bateria.nrMaxPiloto}">10</span>
							</div>
						</div>
						<div class=" text-end">
							<a th:href="@{/piloto/confirmarReserva/{id}(id = ${bateria.id})}">
								<button type="button" class="btn btn-outline-dark">Reservar</button>
							</a>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</body>
<style>
footer {
   position: absolute;
  bottom: 0;
  width: 85%;
  height: 50px;
  
}
</style>
<div class="container">
	  <footer th:replace="~{basePiloto :: footer}"></footer>
</div>
</html>