<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{basePiloto :: head}"></head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
      rel="stylesheet"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
<div class="container">
    <header th:replace="~{basePiloto :: header}"></header>
</div>
<style>
#teste {
   display:"flex";
   align-items: "center";
   flex-direction:"column";
   justify-content: "center";  
}
</style>
<body>
<div class="container">
    <div class="row">
        <div class="mb-5 mt-3 justify-content-center">
                <form th:action="@{pesquisarKartodromo}" method="post">
                    <div class="row" >
                        <div class="col-2"></div>
                        <div class="col-3">
                            <input th:name="nomepesquisa" class="form-control"
                                   placeholder="Kartódromo">
                        </div>
                        <div class="col-3">
                            <input th:name="datapesquisa" type="text" id="datepicker-inicial" class="form-control"
                                   placeholder="Data">
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-outline-dark" value="Buscar"></div>
                        <div class="col-2"></div>
                    </div>
                </form>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4" id="containerCards">

        <div class="col" th:each="bateria : ${bateria}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <span th:text="${bateria.kartodromo.nome}"></span>
                    </h5>
                    <div class="card-text">
                        <div>
                            Valor: <span
                                th:text="${'R$' + #numbers.formatDecimal(bateria.valorBateria,2,'POINT', 2, 'COMMA')}">200,99</span>
                        </div>
                        <div>
                            Traçado: <span th:text="${bateria.tracado}">Externo A</span>
                        </div>
                        <div>
                            Data: <span th:text="${#temporals.format(bateria.data, 'dd/MM/yyyy')}">16:00</span>
                        </div>
                        <div>
                            Horário: <span th:text="${bateria.horaBateria}">16:00</span>
                        </div>
                        <div>
                            Duração: <span th:text="${bateria.duracaoBateria + ' minutos'}">10</span>
                        </div>
                        <div>
                            Pilotos confirmados: <span th:text="${bateria.vagasConfirmadas}">10</span>
                        </div>
                        <div>
                            Limite de pilotos: <span th:text="${bateria.nrMaxPiloto}">10</span>
                        </div>
                        <div>
                            Cidade: <span th:text="${bateria.kartodromo.cidade}">10</span>
                        </div>
                    </div>
                    <div class=" text-end">
                        <a th:href="@{/piloto/confirmarReserva/{id}(id = ${bateria.id})}">
                            <button type="button" class="btn btn-outline-dark">Reservar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<br>
<div class="container">
    <footer th:replace="~{basePiloto :: footer}"></footer>
</div>
</html>