<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head th:replace="~{basePiloto :: head}">
		<div class="container">
			<header th:replace="~{basePiloto :: header}"></header>
		</div>
</head>
<body>
	<div class="container p-5">
		<h3>Olá Racer, veja o histórico das suas corridas:</h3>
	</div>
	<div class="container p-1">
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th scope="col">Kartódromo</th>
					<th scope="col">Horário</th>
					<th scope="col">Data</th>
					<th scope="col">Traçado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reserva : ${reserva}">
					<td th:text="${reserva.kartodromo.nome}"></td>
					<td th:text="${reserva.bateria.horaBateria}"></td>
					<td th:text="${reserva.bateria.data}"></td>
					<td th:text="${reserva.bateria.tracado}"></td>
					<td th:text="${reserva.confirmado}"></td>
					<td th:text="${reserva.id}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<div class="container">
	<footer th:replace="~{basePiloto :: footer}" class="py-5"></footer>
</div>

</html>