<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head th:replace="~{baseIndex :: head}">
		<div class="container">
			<header th:replace="~{baseIndex :: header}"></header>
		</div>
	</head>
<body>
<div class="container px-4 py-5" id="featured-3">
<h2 class="pb-2 border-bottom">Sobre nós</h2>
<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
	<p><font size="4">O projeto GoKart teve o seu início no primeiro semestre de 2022 nas salas de aula de uma faculdade. Com o intuito de realizar o trabalho
de conclusão de curso, foi desenvolvido um ambiente para os apaixonados pilotos de kart indoor.</font></p>
	<font size = 4>Com a ideia de unir ainda mais a relação entre pilotos e kartódromos, seguimos desenvolvendo muitas melhorias para os novos e atuais usuários. </font>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
	<font size = 4>Atenciosamente, </font>
	<p><font size = 4>GoKart. </font></p>
</div>
</body>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<div class="container">
  <footer th:replace="~{basePiloto :: footer}" class="py-5"></footer>
</div>
</html>