<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head th:replace="~{baseIndex :: head}">
		<div class="container">
			<header th:replace="~{baseIndex :: header}"></header>
		</div>
	</head>
<body>
<br>
<br>
	 <section class="py-5 text-center container">
    		<div class="row py-lg-5">
      			<div class="col-lg-6 col-md-8 mx-auto">
        			<h1 class="fw-light">EM CONSTRUÇÃO</h1>
        			<p class="lead text-muted">ESTA PÁGINA ESTÁ EM CONSTRUÇÃO.</p>
      			</div>
    		</div>
  	</section>
</body>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<div class="container">
  <footer th:replace="~{basePiloto :: footer}" class="py-5"></footer>
</div>
</html>