<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head th:replace="~{baseIndex :: head}">
		<div class="container">
			<header th:replace="~{baseIndex :: header}"></header>
		</div>
	</head>
<body>
	 <section class="py-5 text-center container">
    		<div class="row py-lg-5">
      			<div class="col-lg-6 col-md-8 mx-auto">
        			<h1 class="fw-light">GoKart Experience</h1>
        			<p class="lead text-muted">Curta a experiência de correr de kart em Curitiba e região metropolitana sem precisar ter um grupo de pilotos.</p>
      			</div>
    		</div>
  	  </section>
  	  <br>
  	  <br>
  	<div class="container px-4 py-5" id="featured-3">
    <h2 class="border-bottom">Novidades para você</h2>
    <div class="row py-2 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-dark bg-gradient" style="height: 3px">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>Grupo para correr de kart?</h2>
        <p>Aqui você não precisa ter um grupo, pode marcar a sua bateria com outros pilotos que queiram correr no mesmo horário e kartódromo.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-dark bg-gradient" style="height: 3px">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Agende agora mesmo</h2>
        <p>Veja agora mesmo as baterias que estão em abertas para o seu agendamento.</p>
        <a th:href="@{/piloto/login}" class="icon-link">
          Veja mais
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-dark bg-gradient" style="height: 3px">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Kartódromos</h2>
        <p>Todos os locais disponíveis equipamentos de segurança para os pilotos, lanchonetes e espaço de diversão para os acompanhantes de velocidade que gostam de assistir uma corrida de kart.</p>
      </div>
    </div>
  </div>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <footer th:replace="~{baseIndex :: footer}" class="py-5"></footer>
</div>
</html>