<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{baseIndex :: head}">
	<div class="container">
		<header th:replace="~{baseIndex :: header}"></header>
	</div>
</head>
<body>
	<div class="container px-4 py-5" id="featured-3">
		<h2 class="pb-2 border-bottom">Kartódromos licenciados</h2>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p><font size="4">Todos os kartódromos são verificados pela empresa GoKart antes de serem cadastrados no site. Atualmente estamos trabalhando com
			os kartódromos da região de Curitiba e região metropolitana.</font></p>
		<font size = 4>A seguir segue a lista dos kartódromos cadastrados até o momento para você curtir com sua familia e amigos.</font>
	</div>
	<tr th:each="kartodromo : ${kartodromo}">
		<div class="container mb-5">
			<div class="row">
				<h3 class="pb-2 border-bottom text-center"th:text="${kartodromo.nome}"></h3>
				<div class="col-md-4">
				<br>
				<p><i><font size="4">Localização </font></i></p>
				<p>Endereço: <font size="3" th:text="${kartodromo.logradouro}"></font></p>
				<p>Complemento: <font size="3" th:text="${kartodromo.complemento}"></font></p>
				<p>CEP: <font size="3" th:text="${kartodromo.CEP}"></font></p>
				<p>Cidade: <font size="3" th:text="${kartodromo.cidade + ' - ' + kartodromo.estado}"></font></p>
				<p>Contato: <font size="3" th:text="${kartodromo.email}"></font></p>
				<br>
				</div>
				<div class="col-md-4">
					<iframe th:width="450" th:height="250" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14392.650439039799!2d-49.39578455!3d-25.599512299999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dd023b047abde5%3A0x37db5b220ad1b640!2sVilla%20Hygge%20Food%20Park!5e0!3m2!1spt-BR!2sbr!4v1665238828584!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div class="col-md-4">
					<img class="rounded float-end mt-5" alt="Image" th:src="|/imagem/${kartodromo.id}|" width="250"/>
				</div>
			</div>
		</div>
	</tr>
</body>
<div class="container">
  <footer class="py-5">
    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2021 Company - GoKart - Todos os direitos reservados</p>
      
    </div>
  </footer>
</div>
</html>