<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  lang="pt-br">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="icon" type="imagem/png" href="/images/helmet.png"/>
		<title>GoKart - Redefinir senha </title>
	</head>
	<body class="text-center">
	 <p></p>
		<main class="form-signin">
		<div class="row justify-content-center">
			<h5>Insira o seu e-mail para que seja enviado o próximo passo para redefinir sua senha.</h5>
			<form class="col-sm-10 col-md-5 col-lg-4"  th:action="@{/login}" method="post">
				<br>
    			<div class="container">
    			<div class="form-floating mb-3">
      				<input type="email" name="username" class="form-control" id="floatingInput" placeholder="name@example.com" required autofocus>
      				<label for="floatingInput">E-mail</label>
    			</div>
    			<div th:if="${param.error}">
    				<p class="text-danger">E-mail ou senha inválidos</p>
				</div>
					<br>
    				<button class="w-100 btn btn-lg btn-dark" type="submit">Enviar</button>
    				<p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    			</div>
    			<p class="mt-3">
    				Ainda não é cadastrado? <a th:href="@{/piloto/cadastroPiloto}"> Clique aqui</a> para se cadastrar.
  			</form>
  			</div>
		</main>
  </body>
</html>
