<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head th:replace="~{baseIndex :: head}">
		<div class="container">
			<header th:replace="~{baseIndex :: header}"></header>
		</div>
	</head>
<body>
<div class = "container">
	<br>
    <h1 class="fw-light text-center">Condições de Uso</h1>
    <br>
    	<p class="lead text-muted">Bem-vindo ao GoKart.com.br. O GoKart Ltda.  oferecem a você recursos, 
       		e serviços quando você visita ou compra no GoKart.com.br. Os Serviços GoKart são regidos pelas condições abaixo.</p>
       	<p>Ao utilizar os Serviços GoKart, você concorda com estas condições. Por favor, leia tudo cuidadosamente. Caso não concorde com estas condições, não utilize os Serviços GoKart.</p>
       	<br>
       	<h2 class="fw-light">Privacidade</h2>
        <br>
        <p>Seus dados serão utilizados para a visualização de outros pilotos e também pelos kartódromos que estarão registrado no sistema GoKart.</p>
</div> 
</body>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<div class="container">
  <footer th:replace="~{basePiloto :: footer}" class="py-5"></footer>
</div>
</html>